$Red: #f00606;
@mixin margenes($top , $botton) {
    margin-top: $top;
    margin-top: $botton;
}
.jumbotron {
    background-color: black;
    color: $Red;
    margin-top: 50px;
}
.align-items-end {
    text-align: end;
}
.card-car {
    flex: 1 150px;
    margin-top: 10px;
}
.btn-compra {
    width: 100%;
    border-radius: 0px;
}
.footer-text {
    text-align: center;
    color: white;
}
.footer-padding-icon {
    padding-right: 10px;
}
.footer-address-font {
    color: white;
    text-align: start;
}
.body-backg {
    background-color: rgb(44, 62, 80);
}

.footer-contact {
    margin-top: 220px;
}
footer {
    padding: 10px 10px 0 10px;
    bottom: 0px;
    background-color: black;
    @include margenes(20px,0x )
}